:root {
    --board-columns: 16;
}

header {
    background-color: royalblue;
    padding: 30px;
    margin-bottom: 20px;
}

.board-grid {
    display: grid;
    width: 960px;
    height: 960px;
    grid-template-columns: var(--board-columns);
    border: 2px solid red;
}

.square {
    gap: 1px 1px;
    border: 1px solid blue;
}

.square:hover {
    background-color: black;
    cursor: crosshair;
}