

header {
    background-color: royalblue;
    padding: 30px;
    margin-bottom: 20px;
}

body {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board-grid {
    display: grid;
    width: 960px;
    height: 960px;
    border: 2px solid red;
}

.square {
    border: 1px solid blue;
    height: 100%;
}

.square:hover {
    color: black;
    cursor: crosshair;
}